.profile.label {
  display: inline-block;
  width: 100%;
}

.profile.image {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: green;
}

ion-item:last-child {
  margin-top: 10px;
}
